@font-face {
    font-family: 'digital-7';
    src: url(digital-7-mono.ttf);
  }

body {
    font-family: digital-7;
    color: white;
}

.background-img {
    border: none;
    width: 100%;
    height: 100%;
    /* background-image: inherit; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/portfolio-background.png");
    background-color: rgb(23, 85, 179);
    padding: 4px;
}

.asset-img {
      
    background-image: url("../img/Asset\ 1.png");
    border: none;
    width: 100%;
    padding: 70px;
    margin-top: 3px;
    margin-bottom: 12px;
    /* background-image: inherit; */
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: contain;
    background-position: center;
  }

.my-work-img-1 {
    background-image: url("../img/Screenshot_2021-02-06\ CSS\ Cheatsheet.png");
    border: 10px solid rgb(209, 203, 203);
    width: 100%;
    padding: 200px 100px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 5px;
  }

  .my-work-img-2 {
    background-image: url("../img/Screenshot_2021-02-06\ Horiseon\ Social\ Solutions.jpg");
    border: 10px solid rgb(209, 203, 203);
    width: 100%;
    padding: 200px 100px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 5px;
  }

.cont-pro-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 107px;
}

.pro-pic {
  width: 155px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(37, 37, 37);
  
  
}

/* Full stack web developer text */
  .big-text {
      text-align: center;
      font-size: 43px;
      margin-bottom: 10px;
  } 

/* Navbar */
  .navbar {
    font-family: digital-7;
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border-radius: 15px;
    float: right;
    padding: 8px;
    background-color: rgb(202, 100, 16);
    width: 100%;
  }


  .navbar h1 {
    clear: both;
    float: left;
    /* float: inline-start; */
    margin-left: 20px;
    font-size: 35px;
  }

  /* Removing color and underline for links in the navbar */
  .navbar a {
      color: white;
      text-decoration: none;
      padding: 10px;
  }

  .navbar a:hover {
    background-color: rgb(105, 103, 103);
    transition: background-color .2s; 
    border-radius: 15px;
  }

  .row1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .row2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 70%;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 50px;
      margin-bottom: 20px;
  }

  .row1 a:hover {
    cursor: pointer;
    
    }



/* About me, my work, contact me */
    .left-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        display: inline-flex;
        margin-right: 45px;
        font-size: 45px;
        padding-top: 19px;
        padding-right: 4px;
        padding-left: 4px;
        border-bottom: 8px solid white;
    }
/* Div section for styling */
.about-me-content {
    display: inline;
    background-color: rgb(59, 59, 59);
    border: 5px solid rgb(59, 59, 59);
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    padding: 17px;
    font-family: digital-7;
    color: white;
    text-decoration: none;
}

.content {
        display: inline;
        background-color: rgb(59, 59, 59);
        border: 3px solid rgb(202, 100, 16);
        border-radius: 15px;
        text-align: center;
        font-size: 30px;
        padding: 11px;
        margin: 20px;
        font-family: digital-7;
        color: white;
        text-decoration: none;
    }

.content a {
  
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-flex;
  font-family: digital-7;
  color: white;
  text-decoration: none;
}



/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
